/* tulisan keseluruhan web */
* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* background keseluruhan web */
html {
    background-color: whitesmoke;
}

/* align text keseluruhan web */
.text-align {
    text-align: justify;
}

/* tampilan main & main-content */
main {
    display: flex;
    justify-content: space-around;
    padding: 15px;
}
.main-content {
    flex: 1;
    padding: 25px;
}

form {
    background-color: lightgray;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border-radius: 2px;
    box-sizing: border-box;
}

input[type=number], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.submit {
    background-color: blue;
    height: 30px;
    width: 100%;
    border-radius: 4px;
    border-color: blue;
    color: white;
    font-weight: bolder;
}

.result-form {
    background-color: lightgray;
    text-align: center;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border-radius: 2px;
    box-sizing: border-box;
}

.reset {
    background-color: #797979;
    height: 30px;
    width: 100%;
    border-radius: 4px;
    border-color: #797979;
    color: black;
    font-weight: bolder;
}

.tabel-hasil table th, td {
    width: 100%;
    margin: none;
    align-items: center;
    table-layout: auto  ;
    padding: 12px;
    border: 2px solid;
    border-color: gray;
    border-radius: 4px;
}
.head {
    text-align: center;
    background-color: blue;
    color: white;
}
.body {
    background-color: white;
}

@media only screen and (max-width: 500px) {
    main {
        flex-direction: column;
    }
}